header {
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  background: white;
  z-index: 10;
}



header .logo {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

header ul li a {
  text-decoration: none;
  color: #111;
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
}

header ul li a.active {
  font-weight: bold;
  color: red;
}

header .login {
  padding: 10px 30px;
  background: rgb(26, 108, 108);
  color: white;
  font-weight: bold;
  font-size: 1..2rem;
  border-radius: 10px;
  text-decoration: none;
}